<div class="page">
  <video style="position: absolute;   margin-top: -20px;
  " autoplay loop muted class="vid-background">
    <source src="../../../assets/cloud.mov" type="video/mp4">
  </video>

<div class="container">
  <div class="row title">
    <div class="col-md-6">
      <img src="../../../assets/just_trippin.png">
    </div>
  </div>

  <div class="row">
    <div style="width: 25%" class="col-md-3 col-md-offset-1">
      <form>
        <div class="form-group">
          <label for="Airport">Airport</label>
          <input type="text" class="form-control" placeholder="Airport">
        </div>
        <div class="form-group">
          <label for="Price">Price Range</label>
          <input type="text" class="form-control" placeholder="Price Range">
        </div>
        <div class="form-group">
          <label for="Region">Trips To:</label>
          <input id="disabledInput" type="text" class="regionSelect form-control" placeholder="Click Map to Select Region" disabled>
        </div>
        <br>
      <button type="submit" class="btn btn-default">Submit</button>
      </form>
    </div>
  </div>

    <div class="col-md-6 col-md-offset-1">
      <div class="map">
        <center style="position: relative;">
          <div><img src="../../../assets/regions_map.png" alt="" usemap="#Map" />

          <map name="Map" id="Map">
          <area id="westcoast" value="West Coast - San Francisco, Oakland, Los Angeles, Portland, Seattle" class="regions" alt="" title="" href="#" shape="poly" coords="29,3,29,8,29,11,29,18,30,23,29,28,27,36,26,40,24,45,21,51,19,57,15,63,13,68,12,74,11,81,11,88,7,94,5,99,6,102,6,110,5,115,6,118,8,123,9,129,11,130,14,129,14,133,11,133,11,137,12,140,15,142,14,148,14,153,16,157,19,162,19,166,20,173,22,174,26,177,28,177,31,181,34,183,38,186,42,190,44,193,47,197,47,200,47,206,52,206,59,206,65,206,68,208,71,211,73,207,74,200,77,196,79,193,77,187,77,179,39,123,46,87,73,93,79,67,78,64,83,57,86,52,84,45,85,33,89,25,90,18,90,13,48,2" />
          <area id="mountain" value="Las Vegas, Salt Lake City, Denver, Boise" class="regions" alt="" title="" href="#" shape="poly" coords="92,12,116,18,153,24,179,27,194,29,187,123,204,125,201,173,191,173,134,166,88,159,85,169,81,169,77,177,42,123,48,89,73,95,82,64,89,53,87,40" />
          <area id="southwest" value="Phoenix, Albuquerque, Austin, Dallas, Houston, San Antonio" class="regions" alt="" title="" href="#" shape="poly" coords="220,182,191,180,191,175,134,168,89,161,87,170,82,171,79,177,78,182,79,187,81,190,81,193,78,198,76,201,74,205,73,212,103,231,132,237,136,230,150,233,153,230,158,242,163,246,167,255,171,264,177,267,182,270,184,271,190,262,197,262,204,264,209,272,213,280,218,286,222,293,223,300,227,303,234,307,242,311,247,310,244,292,249,286,257,279,264,275,269,271,273,269,278,264,282,264,282,258,284,251,283,245,279,237,279,218,273,216,269,213,262,213,257,214,253,213,249,214,243,212,238,212,233,211,230,210,225,206,221,205,219,204" />
          <area id="heartland" value="St. Louis, Oklahoma City, Kansas City, Minneapolis, Des Moines, Lincoln" class="regions" alt="" title="" href="#" shape="poly" coords="198,29,248,32,266,32,271,34,281,37,290,38,295,41,299,41,304,41,309,42,306,45,302,47,299,50,292,55,289,60,289,63,287,67,287,72,286,76,286,79,289,81,294,89,296,90,298,95,301,103,305,107,308,112,310,115,309,119,306,119,304,120,304,122,303,130,300,133,298,138,303,144,304,147,306,149,308,150,310,150,313,152,311,156,311,162,315,164,319,165,320,168,322,170,322,175,322,178,321,183,319,185,315,185,316,180,271,182,273,213,264,210,252,209,230,204,222,199,223,179,196,178,206,173,206,126,190,119" />
          <area id="south" value ="Jackson, New Orleans, Nashville, Knoxville, Charleston, Little Rock" class="regions" alt="" title="" href="#" shape="poly" coords="273,183,275,213,279,216,280,221,280,233,282,237,285,242,285,253,285,262,291,263,298,265,302,263,306,265,309,267,318,267,325,267,330,267,326,262,328,259,317,256,326,255,332,255,337,255,340,255,345,254,347,252,345,245,371,242,371,228,360,197,372,194,394,172,380,172,390,160,384,151,380,148,371,148,364,146,354,157,347,160,336,164,330,171,326,172,323,182,322,186,313,182" />
          <area id="greatlakes" value="Detroit, Chicago, Cleveland, Cincinatti, Indianapolis, Millwalukee" class="regions" alt="" title="" href="#" shape="poly" coords="292,58,290,66,288,74,289,78,294,85,301,91,304,102,309,109,312,115,309,121,307,122,306,128,302,134,302,138,307,146,313,150,313,159,316,162,322,167,325,169,333,163,339,159,346,157,355,152,360,147,363,144,371,144,376,145,380,145,383,146,385,147,388,145,394,137,398,130,398,124,398,115,397,110,397,105,380,114,372,110,374,103,378,96,373,82,366,88,363,86,367,73,362,67,357,66,351,66,348,70,345,73,343,75,342,82,342,89,344,96,345,103,345,109,342,113,337,115,333,111,331,103,329,96,330,87,333,80,336,73,334,74,328,81,334,66,342,65,351,61,355,61,361,62,357,55,349,53,338,57,331,56,324,54,326,47,322,46,314,56,303,58,305,53" />
          <area id="midatlantic" value="Miami, Orlando, Atlanta, Charlotte, Richmond, Washington DC" class="regions" alt="" title="" href="#" shape="poly" coords="398,103,409,91,407,86,413,84,420,84,424,84,430,77,429,72,434,61,438,57,451,57,451,62,453,69,456,75,458,85,458,94,459,102,458,107,473,99,472,102,460,108,456,111,459,117,456,125,455,130,445,122,452,132,454,141,449,144,444,138,442,126,438,132,441,141,441,144,435,140,434,133,429,132,435,142,426,133,422,132,421,134,418,139,416,143,411,144,411,149,408,152,407,156,402,160,396,162,392,162,393,159,386,151,387,149,393,139,397,135,400,124,399,111" />
          <area id="alaska" value="Alaska" class="regions" alt="" title="" href="#" shape="poly" coords="55,239,60,280,69,286,71,287,76,288,82,293,86,296,90,299,90,303,84,299,80,298,76,294,71,290,66,288,63,286,55,285,50,283,47,282,43,285,41,287,39,289,36,286,33,288,33,290,29,298,22,300,17,301,26,289,19,287,16,287,17,279,13,282,11,280,11,277,9,273,15,270,21,266,21,263,16,262,12,257,12,253,17,252,21,255,24,253,17,242,32,234,41,236,47,239" />
          <area id="hawaii" value="Oahu, Maui"class="regions" alt="" title="" href="#" shape="poly" coords="95,272,103,273,119,278,133,283,139,288,142,296,144,306,150,303,154,300,152,295,146,291,141,284,135,279,120,273,104,268,97,268" />
          <area id="eastcoast" value="Philadelphia, NYC surrounding, Baltimore, Pittsburg " class="regions" alt="" title="" href="#" shape="poly" coords="389,160,395,164,406,160,410,150,412,143,414,146,418,141,421,136,423,134,426,134,429,134,434,134,433,140,438,144,442,147,440,148,446,152,444,153,450,160,446,170,452,169,454,173,452,176,448,178,451,181,445,185,438,196,431,198,427,206,421,215,415,221,412,229,408,240,421,262,421,267,432,284,430,303,423,305,416,298,412,292,409,292,401,281,400,277,401,267,397,262,385,251,373,259,363,252,352,253,348,253,345,245,372,242,370,225,360,194,372,193,379,184,396,170,380,172" />
          <area id="newengland" value="Boston, Hartford, Montpiiler, Augusta, Concord, Providence" class="regions" alt="" title="" href="#" shape="poly" coords="450,54,450,59,452,63,453,67,455,74,457,81,457,89,457,94,459,102,481,92,487,90,489,88,478,80,481,77,478,74,482,62,490,55,503,45,499,40,493,36,490,23,485,17,479,22,477,20,474,24,472,34,472,41,470,46,466,48,466,51,462,53,456,54,452,56" />
          </map>
        </center>
      <!-- </div> -->
    </div>
  </div>
</div>